<?xml version="1.0"?>
<launch>
  <arg name="UAV_NAME" default="uav1"/>
  <arg name="uav_name" default="$(arg UAV_NAME)"/>
  <arg name="common_frame" default="world"/>
  <arg name="ego_id" default="0"/>
  <arg name="body_frame" default="$(arg uav_name)/base_link"/>
  <arg name="goal_x" default="1.0"/>
  <arg name="goal_y" default="0.0"/>
  <arg name="goal_z" default="2.0"/>
  <arg name="map_size_x" default="30.0"/>
  <arg name="map_size_y" default="20.0"/>
  <arg name="map_size_z" default="12.0"/>
  <arg name="rolling_map_enabled" default="false"/>
  <arg name="rolling_map_margin_m" default="6.0"/>
  <arg name="owner_acquisition_timeout" default="5.0"/>
  <arg name="ground_height" default="-0.01"/>
  <arg name="virtual_ceil_height" default="10.0"/>
  <arg name="visualization_truncate_height" default="10.0"/>
  <arg name="goal_topic" default="/move_base_simple/goal"/>
  <arg name="status_topic" default="planning/status"/>
  <arg name="healthy_topic" default="planning/healthy"/>
  <arg name="ego_goal_topic" default="/drone_$(arg ego_id)_planning/validated_goal"/>
  <arg name="max_vel" default="0.30"/>
  <arg name="max_acc" default="0.30"/>
  <arg name="flight_type" default="1"/>
  <arg name="traj_command_topic" default="/$(arg uav_name)/ego/position_command"/>
  <arg name="bridge_command_topic" default="$(arg traj_command_topic)"/>
  <arg name="swarm_raw_topic" default="/drone_$(arg ego_id)_planning/swarm_trajs_raw"/>
  <arg name="swarm_topic" default="/drone_$(arg ego_id)_planning/swarm_trajs"/>

  <!-- Start only after manager takeoff and stable hold. -->
  <group>
    <remap from="/move_base_simple/goal" to="$(arg ego_goal_topic)"/>
    <!-- Keep the third-party planner untouched. Its transient handoff output
         is made reliable by the planning-layer relay below. -->
    <remap from="/drone_$(arg ego_id)_planning/swarm_trajs" to="$(arg swarm_raw_topic)"/>
  <include file="$(find ego_planner)/launch/advanced_param.xml">
    <arg name="drone_id" value="$(arg ego_id)"/>
    <arg name="map_size_x_" value="$(arg map_size_x)"/>
    <arg name="map_size_y_" value="$(arg map_size_y)"/>
    <arg name="map_size_z_" value="$(arg map_size_z)"/>
    <arg name="rolling_map_enabled_" value="$(arg rolling_map_enabled)"/>
    <arg name="rolling_map_margin_m_" value="$(arg rolling_map_margin_m)"/>
    <arg name="ground_height_" value="$(arg ground_height)"/>
    <arg name="virtual_ceil_height_" value="$(arg virtual_ceil_height)"/>
    <arg name="visualization_truncate_height_" value="$(arg visualization_truncate_height)"/>
    <arg name="odometry_topic" value="ego/odometry"/>
    <arg name="obj_num_set" value="0"/>
    <arg name="camera_pose_topic" value="unused/camera_pose"/>
    <arg name="depth_topic" value="unused/depth"/>
    <arg name="cloud_topic" value="ego/cloud_world"/>
    <arg name="cx" value="321.0"/><arg name="cy" value="243.0"/>
    <arg name="fx" value="387.0"/><arg name="fy" value="387.0"/>
    <arg name="max_vel" value="$(arg max_vel)"/>
    <arg name="max_acc" value="$(arg max_acc)"/>
    <arg name="planning_horizon" value="8.0"/>
    <arg name="use_distinctive_trajs" value="false"/>
    <arg name="flight_type" value="$(arg flight_type)"/>
    <arg name="point_num" value="1"/>
    <arg name="point0_x" value="$(arg goal_x)"/>
    <arg name="point0_y" value="$(arg goal_y)"/>
    <arg name="point0_z" value="$(arg goal_z)"/>
    <arg name="point1_x" value="0.0"/><arg name="point1_y" value="0.0"/><arg name="point1_z" value="$(arg goal_z)"/>
    <arg name="point2_x" value="0.0"/><arg name="point2_y" value="0.0"/><arg name="point2_z" value="$(arg goal_z)"/>
    <arg name="point3_x" value="0.0"/><arg name="point3_y" value="0.0"/><arg name="point3_z" value="$(arg goal_z)"/>
    <arg name="point4_x" value="0.0"/><arg name="point4_y" value="0.0"/><arg name="point4_z" value="$(arg goal_z)"/>
  </include>
  </group>

  <node pkg="ego_planner" name="drone_$(arg ego_id)_traj_server"
        type="traj_server" output="screen" required="true">
    <remap from="position_cmd" to="$(arg traj_command_topic)"/>
    <remap from="~planning/bspline" to="/drone_$(arg ego_id)_planning/bspline"/>
    <param name="traj_server/time_forward" value="0.0"/>
  </node>

  <node pkg="xd_uav_planning" type="swarm_handoff_relay.py"
        name="drone_$(arg ego_id)_swarm_handoff_relay"
        output="screen" required="true">
    <param name="expected_drone_id" value="$(arg ego_id)"/>
    <param name="input_topic" value="$(arg swarm_raw_topic)"/>
    <param name="output_topic" value="$(arg swarm_topic)"/>
    <param name="broadcast_topic" value="/broadcast_bspline"/>
    <param name="replay_period" value="0.5"/>
  </node>

  <include file="$(find xd_uav_planning)/launch/internal/ego_bridge.launch">
    <arg name="uav_name" value="$(arg uav_name)"/>
    <arg name="common_frame" value="$(arg common_frame)"/>
    <arg name="body_frame" value="$(arg body_frame)"/>
    <arg name="transform_state_to_common" value="true"/>
    <arg name="odometry_topic" value="/drone_$(arg ego_id)_ego/odometry"/>
    <arg name="position_command_topic" value="$(arg bridge_command_topic)"/>
    <arg name="allow_nonfinite_yaw_rate" value="true"/>
  </include>

  <group ns="$(arg uav_name)">
    <node pkg="xd_uav_planning" type="ego_status_node.py"
          name="ego_planner_status" output="screen">
      <param name="common_frame" value="$(arg common_frame)"/>
      <param name="uav_name" value="$(arg uav_name)"/>
      <param name="task_state_service" value="/task_allocate/get_state"/>
      <param name="goal_topic" value="$(arg goal_topic)"/>
      <param name="ego_goal_topic" value="$(arg ego_goal_topic)"/>
      <param name="flight_type" value="$(arg flight_type)"/>
      <param name="output_gate_service"
             value="/$(arg uav_name)/reference_mux/set_enabled"/>
      <param name="owner_selection_service"
             value="/$(arg uav_name)/reference_mux/select_ego"/>
      <param name="candidate_topic"
             value="/$(arg uav_name)/ego/reference_candidate"/>
      <param name="owner_acquisition_timeout"
             value="$(arg owner_acquisition_timeout)"/>
      <param name="cancel_service" value="planning/cancel"/>
      <param name="odometry_topic" value="/drone_$(arg ego_id)_ego/odometry"/>
      <param name="health_topic" value="$(arg healthy_topic)"/>
      <param name="status_topic" value="$(arg status_topic)"/>
    </node>
  </group>
</launch>
