<?xml version="1.0"?>
<launch>
  <arg name="UAV_NAME" default="uav1"/>
  <arg name="common_frame" default="world"/>
  <arg name="ego_id" default="0"/>
  <arg name="gui" default="true"/>
  <arg name="rviz" default="true"/>
  <arg name="rviz_config"
       default="$(find xd_uav_system_integration)/config/ego_obstacle_demo.rviz"/>
  <arg name="takeoff_altitude" default="1.0"/>

  <include file="$(find xd_uav_system_integration)/launch/px4_gazebo_single.launch">
    <arg name="gui" value="$(arg gui)"/>
  </include>
  <!-- MRS x500 MAVROS labels its rigid-body reference as fcu.  The software
       body frame used by this demo is coincident with it for this model. -->
  <node pkg="tf2_ros" type="static_transform_publisher"
        name="x500_fcu_to_base_link"
        args="0 0 0 0 0 0 1 $(arg UAV_NAME)/base_link $(arg UAV_NAME)/fcu"/>
  <group ns="$(arg UAV_NAME)">
    <node pkg="xd_uav_system_integration" type="navsat_origin_provider.py"
          name="navsat_origin_provider" output="screen" required="true">
      <param name="input_topic" value="mavros/global_position/global"/>
      <param name="output_topic" value="integration/geodetic_origin"/>
      <param name="stable_samples" value="5"/>
      <param name="horizontal_tolerance_m" value="1.0"/>
      <param name="vertical_tolerance_m" value="1.0"/>
    </node>
  </group>
  <include file="$(find xd_uav_system_integration)/launch/px4_control_stack_guarded.launch">
    <arg name="UAV_NAME" value="$(arg UAV_NAME)"/>
    <arg name="common_frame" value="$(arg common_frame)"/>
    <arg name="gps_origin_topic" value="integration/geodetic_origin"/>
  </include>

  <node pkg="xd_uav_system_integration" type="deterministic_obstacle_cloud.py"
        name="deterministic_obstacle_cloud" output="screen" required="true">
    <param name="frame_id" value="$(arg common_frame)"/>
    <param name="output_topic" value="/map_generator/global_cloud"/>
  </node>
  <include file="$(find xd_uav_ego_bridge)/launch/ego_pointcloud_adapter.launch">
    <arg name="UAV_NAME" value="$(arg UAV_NAME)"/>
    <arg name="input_topic" value="/map_generator/global_cloud"/>
    <arg name="input_frame" value="$(arg common_frame)"/>
    <arg name="common_frame" value="$(arg common_frame)"/>
    <arg name="output_topic" value="/drone_$(arg ego_id)_ego/cloud_world"/>
    <arg name="cloud_timeout" value="0.50"/>
    <arg name="minimum_sensor_range" value="0.0"/>
    <arg name="restamp_zero_timestamp" value="true"/>
  </include>
  <include file="$(find xd_uav_system_integration)/launch/ego_px4_runtime.launch">
    <arg name="UAV_NAME" value="$(arg UAV_NAME)"/>
    <arg name="common_frame" value="$(arg common_frame)"/>
    <arg name="ego_id" value="$(arg ego_id)"/>
    <arg name="goal_x" value="6.0"/>
    <arg name="goal_y" value="0.0"/>
    <arg name="goal_z" value="$(arg takeoff_altitude)"/>
  </include>

  <group ns="$(arg UAV_NAME)">
    <node pkg="xd_uav_system_integration" type="auto_takeoff_when_ready.py"
          name="auto_takeoff_when_ready" output="screen">
      <param name="altitude" value="$(arg takeoff_altitude)"/>
    </node>
  </group>
  <node pkg="xd_uav_system_integration" type="select_owner_when_ready.py"
        name="select_ego_owner_when_ready" output="screen">
    <param name="health_topic" value="/$(arg UAV_NAME)/ego/system_healthy"/>
    <param name="candidate_topic" value="/$(arg UAV_NAME)/ego/reference_candidate"/>
    <param name="service" value="/$(arg UAV_NAME)/reference_mux/select_ego"/>
    <param name="timeout" value="0.0"/>
  </node>
  <node if="$(arg rviz)" pkg="rviz" type="rviz" name="ego_obstacle_demo_rviz"
        args="-d $(arg rviz_config)" output="screen"/>
</launch>
