<?xml version="1.0"?>
<launch>
  <arg name="UAV_NAME" default="uav1"/>
  <arg name="uav_name" default="$(arg UAV_NAME)"/>
  <arg name="common_frame" default="world"/>
  <arg name="ego_id" default="0"/>
  <arg name="body_frame" default="$(arg uav_name)/base_link"/>
  <arg name="goal_x" default="1.0"/>
  <arg name="goal_y" default="0.0"/>
  <arg name="goal_z" default="2.0"/>
  <arg name="max_vel" default="0.30"/>
  <arg name="max_acc" default="0.30"/>
  <arg name="flight_type" default="2"/>
  <arg name="traj_command_topic" default="/$(arg uav_name)/ego/position_command"/>
  <arg name="bridge_command_topic" default="$(arg traj_command_topic)"/>

  <!-- Start only after manager takeoff and stable hold. -->
  <include file="$(find ego_planner)/launch/advanced_param.xml">
    <arg name="drone_id" value="$(arg ego_id)"/>
    <arg name="map_size_x_" value="30.0"/>
    <arg name="map_size_y_" value="20.0"/>
    <arg name="map_size_z_" value="5.0"/>
    <arg name="odometry_topic" value="ego/odometry"/>
    <arg name="obj_num_set" value="0"/>
    <arg name="camera_pose_topic" value="unused/camera_pose"/>
    <arg name="depth_topic" value="unused/depth"/>
    <arg name="cloud_topic" value="ego/cloud_world"/>
    <arg name="cx" value="321.0"/><arg name="cy" value="243.0"/>
    <arg name="fx" value="387.0"/><arg name="fy" value="387.0"/>
    <arg name="max_vel" value="$(arg max_vel)"/>
    <arg name="max_acc" value="$(arg max_acc)"/>
    <arg name="planning_horizon" value="4.0"/>
    <arg name="use_distinctive_trajs" value="false"/>
    <arg name="flight_type" value="$(arg flight_type)"/>
    <arg name="point_num" value="1"/>
    <arg name="point0_x" value="$(arg goal_x)"/>
    <arg name="point0_y" value="$(arg goal_y)"/>
    <arg name="point0_z" value="$(arg goal_z)"/>
    <arg name="point1_x" value="0.0"/><arg name="point1_y" value="0.0"/><arg name="point1_z" value="$(arg goal_z)"/>
    <arg name="point2_x" value="0.0"/><arg name="point2_y" value="0.0"/><arg name="point2_z" value="$(arg goal_z)"/>
    <arg name="point3_x" value="0.0"/><arg name="point3_y" value="0.0"/><arg name="point3_z" value="$(arg goal_z)"/>
    <arg name="point4_x" value="0.0"/><arg name="point4_y" value="0.0"/><arg name="point4_z" value="$(arg goal_z)"/>
  </include>

  <node pkg="ego_planner" name="drone_$(arg ego_id)_traj_server"
        type="traj_server" output="screen" required="true">
    <remap from="position_cmd" to="$(arg traj_command_topic)"/>
    <remap from="~planning/bspline" to="/drone_$(arg ego_id)_planning/bspline"/>
    <param name="traj_server/time_forward" value="0.0"/>
  </node>

  <include file="$(find xd_uav_ego_bridge)/launch/ego_bridge.launch">
    <arg name="uav_name" value="$(arg uav_name)"/>
    <arg name="common_frame" value="$(arg common_frame)"/>
    <arg name="body_frame" value="$(arg body_frame)"/>
    <arg name="transform_state_to_common" value="true"/>
    <arg name="odometry_topic" value="/drone_$(arg ego_id)_ego/odometry"/>
    <arg name="position_command_topic" value="$(arg bridge_command_topic)"/>
    <arg name="allow_nonfinite_yaw_rate" value="true"/>
  </include>
</launch>
