<?xml version="1.0"?>
<launch>
  <arg name="UAV_NAME" default="$(optenv UAV_NAME uav1)"/>
  <arg name="sources_config" default="$(find xd_uav_state_estimators)/config/sources.yaml"/>
  <arg name="respawn" default="false"/>

  <group ns="$(arg UAV_NAME)">
    <!--
      管理节点从sources.yaml的odometry_adapters段加载全部适配器。
      适配器名称会自动决定state_estimator_inputs下的输出路径。
    -->
    <node pkg="xd_uav_state_estimators"
          type="odometry_adapter_manager_node"
          name="odometry_adapter_manager"
          output="screen"
          respawn="$(arg respawn)"
          clear_params="true">
      <!-- 保证rosconsole/log4cxx按UTF-8输出中文。 -->
      <env name="LANG" value="C.UTF-8"/>
      <env name="LC_ALL" value="C.UTF-8"/>
      <rosparam command="load" file="$(arg sources_config)"/>
      <param name="uav_name" value="$(arg UAV_NAME)"/>
    </node>
  </group>
</launch>
