<launch>
  <arg name="UAV_NAME" default="$(optenv UAV_NAME uav1)"/>
  <include file="$(find xd_uav_track)/launch/vision_tracking_stack.launch">
    <arg name="UAV_NAME" value="$(arg UAV_NAME)"/><arg name="vehicle_type" value="multirotor"/>
    <arg name="enable_fixed_camera" value="false"/><arg name="enable_sar_fixed" value="false"/>
    <arg name="enable_gimbal_lrf" value="true"/><arg name="enable_sar_gimbal" value="true"/>
  </include>
</launch>
