<?xml version="1.0"?>
<launch>
  <arg name="UAV_NAME" default="$(optenv UAV_NAME uav1)"/>
  <arg name="safety_config"
       default="$(find xd_uav_control_manager)/config/safety.yaml"/>
  <arg name="autopilot_config"
       default="$(find xd_uav_control_manager)/config/autopilot/arducopter.yaml"/>
  <arg name="controller_override_config"
       default="$(find xd_uav_controller)/config/attitude_output.yaml"/>
  <arg name="simple_goal_topic" default="/move_base_simple/goal"/>

  <include file="$(find xd_uav_control_manager)/launch/multirotor_system.launch">
    <arg name="UAV_NAME" value="$(arg UAV_NAME)"/>
    <arg name="autopilot_config"
         value="$(arg autopilot_config)"/>
    <arg name="safety_config" value="$(arg safety_config)"/>
    <arg name="use_controller_override_config" value="true"/>
    <arg name="controller_override_config"
         value="$(arg controller_override_config)"/>
    <arg name="simple_goal_topic" value="$(arg simple_goal_topic)"/>
  </include>
</launch>
