<?xml version="1.0"?>
<launch>
  <arg name="UAV_NAME" default="$(optenv UAV_NAME uav1)"/>
  <arg name="controller_common_config"
       default="$(find xd_uav_controller)/config/common_config.yaml"/>
  <arg name="controller_vtol_config"
       default="$(find xd_uav_controller)/config/vtol.yaml"/>
  <arg name="offboard_config" default="$(find xd_uav_control_manager)/config/offboard.yaml"/>
  <arg name="safety_config" default="$(find xd_uav_control_manager)/config/safety.yaml"/>
  <arg name="vtol_config" default="$(find xd_uav_control_manager)/config/vtol.yaml"/>
  <arg name="simple_goal_topic" default="/move_base_simple/goal"/>

  <include file="$(find xd_uav_control_manager)/launch/control_manager.launch">
    <arg name="UAV_NAME" value="$(arg UAV_NAME)"/>
    <arg name="airframe_type" value="vtol"/>
    <arg name="offboard_config" value="$(arg offboard_config)"/>
    <arg name="safety_config" value="$(arg safety_config)"/>
  </include>
  <group ns="$(arg UAV_NAME)/control_manager">
    <rosparam command="load" file="$(arg vtol_config)"/>
  </group>

  <include file="$(find xd_uav_controller)/launch/controller.launch">
    <arg name="UAV_NAME" value="$(arg UAV_NAME)"/>
    <arg name="airframe_type" value="vtol"/>
    <arg name="common_config" value="$(arg controller_common_config)"/>
    <arg name="config" value="$(arg controller_vtol_config)"/>
    <arg name="simple_goal_topic" value="$(arg simple_goal_topic)"/>
  </include>
</launch>
