#!/usr/bin/env python3
PACKAGE = "gm_control"

from dynamic_reconfigure.parameter_generator_catkin import ParameterGenerator, double_t

gen = ParameterGenerator()

gen.add("yaw_kp", double_t, 0, "Yaw proportional gain", 35.0, 0.0, 500.0)
gen.add("yaw_ki", double_t, 0, "Yaw integral gain", 0.0, 0.0, 100.0)
gen.add("yaw_kd", double_t, 0, "Yaw derivative gain", 0.0, 0.0, 100.0)
gen.add("yaw_integral_limit", double_t, 0, "Yaw integral clamp", 1.0, 0.0, 100.0)

gen.add("pitch_kp", double_t, 0, "Pitch proportional gain", 25.0, 0.0, 500.0)
gen.add("pitch_ki", double_t, 0, "Pitch integral gain", 0.0, 0.0, 100.0)
gen.add("pitch_kd", double_t, 0, "Pitch derivative gain", 0.0, 0.0, 100.0)
gen.add("pitch_integral_limit", double_t, 0, "Pitch integral clamp", 1.0, 0.0, 100.0)

exit(gen.generate(PACKAGE, "gm_control", "GimbalPid"))
