<?xml version="1.0"?>
<model>
  <name>PX4 Plane with EO gimbal</name>
  <version>1.0</version>
  <sdf version='1.5'>plane.sdf</sdf>

  <author>
   <name>Roman Bapst</name>
   <email>roman@px4.io</email>
  </author>

  <description>
    PX4 standard plane with xd_uav_detect yaw/pitch camera and single-beam Range payload.
  </description>
</model>
