<?xml version="1.0"?>
<launch>
  <arg name="UAV_NAME" default="uav1"/>
  <arg name="command_topic" default="/follower_node/follower_command"/>
  <node pkg="follower" type="xd_controller_reference_adapter_node"
        name="follower_xd_controller_adapter" output="screen">
    <param name="command_topic" value="$(arg command_topic)"/>
    <param name="state_topic" value="/$(arg UAV_NAME)/state_estimator/main/odom"/>
    <param name="reference_topic" value="/$(arg UAV_NAME)/control/reference/odom"/>
  </node>
</launch>
