<launch>
  <arg name="config" default="$(find pod_replay)/config/replay.yaml" />
  <arg name="bag_path" default="" />
  <node pkg="pod_replay" type="pod_replay_node" name="pod_replay" output="screen">
    <rosparam command="load" file="$(arg config)" />
    <param name="bag_path" value="$(arg bag_path)" />
  </node>
</launch>
