<?xml version="1.0"?>
<launch>
  <arg name="UAV_NAME" default="$(optenv UAV_NAME uav1)"/>
  <arg name="uav_name" default="$(arg UAV_NAME)"/>
  <arg name="config" default="$(find xd_uav_sead)/config/sead_defaults.yaml"/>
  <arg name="respawn" default="false"/>

  <!-- 编队演示模式: 启动后等待 mock GCS 发 Formation_Point 命令 -->
  <group ns="$(arg uav_name)">
    <node pkg="xd_uav_sead"
          type="sead_onboard_node.py"
          name="sead_onboard"
          output="screen"
          respawn="$(arg respawn)"
          clear_params="true">
      <rosparam command="load" file="$(arg config)"/>
      <param name="uav_name" value="$(arg uav_name)"/>
      <param name="use_simulation" value="true"/>
      <param name="sead_runtime_mode" value="formation"/>
    </node>
  </group>
</launch>
