<?xml version="1.0"?>
<launch>
  <arg name="UAV_NAME" default="$(optenv UAV_NAME uav1)"/>
  <arg name="uav_name" default="$(arg UAV_NAME)"/>
  <arg name="start_control_stack" default="true"/>
  <arg name="config" default="$(find xd_uav_sead)/config/sead_defaults.yaml"/>
  <arg name="sources_config"
       default="$(find xd_uav_sead)/config/xd_control_sources.yaml"/>
  <arg name="controller_config"
       default="$(find xd_uav_sead)/config/xd_control_x500.yaml"/>
  <arg name="shared_frame_enabled" default="false"/>
  <arg name="shared_frame_offset_x" default="0.0"/>
  <arg name="shared_frame_offset_y" default="0.0"/>
  <arg name="shared_frame_offset_z" default="0.0"/>

  <!-- PX4, MAVROS and the simulator must already be running. Do not run this
       beside mrs_uav_core: both stacks own /uavX/control_manager. -->
  <group if="$(arg start_control_stack)">
    <include file="$(find xd_uav_state_estimators)/launch/odometry_adapter_manager.launch">
      <arg name="UAV_NAME" value="$(arg uav_name)"/>
      <arg name="sources_config" value="$(arg sources_config)"/>
    </include>
    <include file="$(find xd_uav_state_estimators)/launch/estimator.launch">
      <arg name="UAV_NAME" value="$(arg uav_name)"/>
      <arg name="sources_config" value="$(arg sources_config)"/>
      <arg name="body_frame" value="$(arg uav_name)/fcu"/>
    </include>
    <include file="$(find xd_uav_control_manager)/launch/multirotor_system.launch">
      <arg name="UAV_NAME" value="$(arg uav_name)"/>
      <arg name="controller_config" value="$(arg controller_config)"/>
    </include>
  </group>

  <group ns="$(arg uav_name)">
    <node pkg="xd_uav_sead"
          type="sead_onboard_node.py"
          name="sead_onboard"
          output="screen"
          clear_params="true">
      <rosparam command="load" file="$(arg config)"/>
      <rosparam command="load" file="$(find xd_uav_sead)/config/sead_planner.yaml"/>
      <rosparam command="load" file="$(find xd_uav_sead)/config/gps_origin.yaml"/>
      <param name="uav_name" value="$(arg uav_name)"/>
      <param name="use_simulation" value="true"/>
      <param name="control_backend" value="xd_control_manager"/>
      <param name="control_reference_frame" value="$(arg uav_name)/odom"/>
      <param name="shared_frame/enabled" value="$(arg shared_frame_enabled)"/>
      <param name="shared_frame/offset_x" value="$(arg shared_frame_offset_x)"/>
      <param name="shared_frame/offset_y" value="$(arg shared_frame_offset_y)"/>
      <param name="shared_frame/offset_z" value="$(arg shared_frame_offset_z)"/>
    </node>
  </group>
</launch>
