<?xml version="1.0"?>
<launch>
  <arg name="UAV_NAME" default="$(optenv UAV_NAME uav1)"/>
  <arg name="uav_name" default="$(arg UAV_NAME)"/>
  <arg name="config" default="$(find xd_uav_sead)/config/sead_defaults.yaml"/>
  <arg name="respawn" default="false"/>

  <!-- 通用启动: 从 XBee/ROS 话题等待命令 -->
  <group ns="$(arg uav_name)">
    <node pkg="xd_uav_sead"
          type="sead_onboard_node.py"
          name="sead_onboard"
          output="screen"
          respawn="$(arg respawn)"
          clear_params="true">
      <rosparam command="load" file="$(arg config)"/>
      <rosparam command="load" file="$(find xd_uav_sead)/config/sead_planner.yaml"/>
      <rosparam command="load" file="$(find xd_uav_sead)/config/gps_origin.yaml"/>
      <param name="uav_name" value="$(arg uav_name)"/>
      <param name="use_simulation" value="true"/>
    </node>
  </group>
</launch>
