<?xml version="1.0"?>
<launch>
  <arg name="gui" default="true"/>
  <arg name="rviz" default="true"/>
  <arg name="takeoff_altitude" default="1.5"/>
  <arg name="world_file" default="$(find xd_uav_planning)/worlds/ego_multi_obstacles.world"/>

  <env name="GAZEBO_MODEL_PATH"
       value="$(find px4)/Tools/sitl_gazebo/models:$(optenv GAZEBO_MODEL_PATH)"/>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world_file)"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
  </include>
  <include file="$(find xd_uav_control_manager)/launch/sitl/px4_sitl_vehicle.launch">
    <arg name="UAV_NAME" value="uav1"/><arg name="instance" value="0"/><arg name="system_id" value="1"/>
    <arg name="y" value="-3.0"/><arg name="mavlink_udp_port" value="14560"/><arg name="mavlink_tcp_port" value="4560"/>
    <arg name="mavros_fcu_url" value="udp://:14540@localhost:14580"/>
  </include>
  <include file="$(find xd_uav_control_manager)/launch/sitl/px4_sitl_vehicle.launch">
    <arg name="UAV_NAME" value="uav2"/><arg name="instance" value="1"/><arg name="system_id" value="2"/>
    <arg name="y" value="0.0"/><arg name="mavlink_udp_port" value="14561"/><arg name="mavlink_tcp_port" value="4561"/>
    <arg name="mavros_fcu_url" value="udp://:14541@localhost:14581"/>
  </include>
  <include file="$(find xd_uav_control_manager)/launch/sitl/px4_sitl_vehicle.launch">
    <arg name="UAV_NAME" value="uav3"/><arg name="instance" value="2"/><arg name="system_id" value="3"/>
    <arg name="y" value="3.0"/><arg name="mavlink_udp_port" value="14562"/><arg name="mavlink_tcp_port" value="4562"/>
    <arg name="mavros_fcu_url" value="udp://:14542@localhost:14582"/>
  </include>
  <!-- Spawn poses are the Gazebo/world registration for each PX4 local odom
       origin; keep these values synchronized with the vehicle includes. -->
  <node pkg="xd_uav_planning" type="multi_odom_registration.py"
        name="multi_odom_registration" output="screen" required="true">
    <param name="parent_frame" value="world"/>
    <rosparam param="registrations">
      - {child_frame: uav1/local_origin, translation_m: [0.0, -3.0, 0.0]}
      - {child_frame: uav2/local_origin, translation_m: [0.0, 0.0, 0.0]}
      - {child_frame: uav3/local_origin, translation_m: [0.0, 3.0, 0.0]}
    </rosparam>
  </node>
  <node pkg="xd_uav_planning" type="deterministic_obstacle_cloud.py"
        name="deterministic_obstacle_cloud" output="screen" required="true">
    <param name="frame_id" value="world"/>
    <param name="output_topic" value="/map_generator/global_cloud"/>
    <param name="resolution" value="0.15"/>
    <!-- Keep these obstacle surfaces identical to the Gazebo collision
         geometry in worlds/ego_multi_obstacles.world. -->
    <rosparam param="boxes">
      - {center: [6.0, 3.0, 2.0], size: [1.0, 1.5, 4.0]}
      - {center: [6.0, -3.0, 2.0], size: [1.0, 1.5, 4.0]}
    </rosparam>
    <rosparam param="cylinders">
      - {center: [6.0, 0.0, 2.0], radius: 1.2, height: 4.0}
      - {center: [9.0, 1.5, 2.0], radius: 1.0, height: 4.0}
      - {center: [9.0, -1.5, 2.0], radius: 1.0, height: 4.0}
    </rosparam>
  </node>
  <include file="$(find xd_uav_planning)/launch/demo/ego_multi_vehicle.launch">
    <arg name="UAV_NAME" value="uav1"/><arg name="ego_id" value="0"/><arg name="goal_y" value="-4.0"/>
    <arg name="takeoff_altitude" value="$(arg takeoff_altitude)"/>
  </include>
  <include file="$(find xd_uav_planning)/launch/demo/ego_multi_vehicle.launch">
    <arg name="UAV_NAME" value="uav2"/><arg name="ego_id" value="1"/><arg name="goal_y" value="0.0"/>
    <arg name="takeoff_altitude" value="$(arg takeoff_altitude)"/>
  </include>
  <include file="$(find xd_uav_planning)/launch/demo/ego_multi_vehicle.launch">
    <arg name="UAV_NAME" value="uav3"/><arg name="ego_id" value="2"/><arg name="goal_y" value="4.0"/>
    <arg name="takeoff_altitude" value="$(arg takeoff_altitude)"/>
  </include>
  <node if="$(arg rviz)" pkg="rviz" type="rviz" name="ego_multi_demo_rviz"
        args="-d $(find xd_uav_planning)/config/demo/ego_obstacle_demo.rviz" output="screen"/>
</launch>
